<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<main>
<body>
    <h1 class="naslov">Success!</h1>
    <p1>Your changes have been successfully updated.</p1>
    </br></br></br>
        <nav>
            <ul class="treci">
                <li><a href="{{ url_for('home')}}">Home</a></li></br>
                <li><a href="{{ url_for('pregled_treninge')}}">Pregled Treninga</a></li></br>
            </ul>
        </nav>
</body>
</main>
</html>
